*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  }
#grid img{
  border-radius: 10px;
  margin: 3px;
  
}
#grid{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;

}
.game{
  margin-left: 70px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.score{
  display: flex;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: white;
  width: 330px;
  margin-right: 65px;

}
.gameHeading{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-family: 'Press Start 2P', cursive;
}
.author{
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin-left: 500px;
  margin-top: 10PX;

  font-size: 10PX;

}